<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gaode_map">

    <application>
        <meta-data android:name="com.amap.api.v2.apikey" android:value="53bb4050ca19f098437aa4b8313b2500">
        </meta-data>
    </application>

</manifest>